* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121212;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.principal {
    width: 90%;
    max-width: 1050px; 
    margin: 0 auto;
    padding: 25px 0;
}

.titulo-principal {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.titulo-principal::after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background: #00d4ff;
    margin: 12px auto 0;
    border-radius: 20px;
}

.formato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    background: #1b1b1b;
    padding: 15px 20px;
    border-radius: 12px;
    width: 100%;
}

.texto-formato {
    font-size: 16px;
    color: #cfcfcf;
}

.selector {
    display: flex;
    align-items: center;
    gap: 12px;
}

.boton-formato {
    background: #00d4ff;
    color: #111111;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .25s;
}

.boton-formato:hover {
    background: #ff3b3b;
    color: white;
}


.grid-peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); 
    gap: 20px;
    justify-content: center;
    justify-items: center;
    width: 100%;
}


.tarjeta {
    width: 100%;
    max-width: 175px; 
    cursor: pointer;
    transition: transform .25s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta:hover {
    transform: scale(1.04);
}

.tarjeta img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.etiqueta-estreno {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #ff3b3b;
    color: white;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
}

.tarjeta h3 {
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    color: #e2e2e2;
}

.menu-inferior {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 350px;
    background: #0a0c10;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 15px;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.opcion-menu {
    font-size: 22px;
    color: #777;
    cursor: pointer;
    padding: 10px;
}

.opcion-menu.activa {
    background: #7a00ff;
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}